
<main>
    <div class="presentacion" id="inicio">
        <div class="cover">
            <div class="text">
                <h1 id="Titulo">devFutbol</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto earum harum, magnam minus nihil quod
                rem. Alias et fugiat odio?</p>
            </div>
        <div class="svg">
            <img src="{{campo}}" alt="imagen">
        </div>
        </div>
    </div>

    <div class="presentacion">
        <h2>¿Quiénes somos?</h2>
        <p>Somos una empresa dedicada a la renta de canchas de futbol</p>
      
        <div class="presentacion1">
          <h1>Santiago Vides Salcedo</h1>
          <h3>Rol: </h3>
          <p>líder de planeación</p>
          <h3>lenguajes: </h3>
          <ul>
            <li>C++</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>HTML y CSS</li>
          </ul>
        </div>
      
        <div class="presentacion2">
           <h1>David Anteliz</h1>
          <h3>Rol: </h3>
          <p>Desarrollador</p>
          <h3>lenguajes: </h3>
          <ul>
            <li>C++</li>
            <li>Java</li>
          </ul>
        </div>
    </div>
</main>

