body{
	background-color: #BDECB6;
	margin: 10px;
	position: static;
}
.Registrarse{
    background: #1b4e36;
	display: flex;
	justify-content: center; 
	align-items: center; 
	flex-direction: column;
	font-family: sans-serif;
	height: 50vh;
}

h1{
    font-weight: bold;
    margin: 0;
}

h2{
	margin-top: 10px;
	text-align: center;
}

.container{
	border: 5px solid black;
	background-color: #FFFFFF;
	border-radius: 15px;
	align-items: center;
  }

a{
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button{
	border-radius: 10px;
	border: 1px solid #4DD547;
	background-color: #4DD547;
	color: white;
	font-size: 20px;
	padding: 12px 40px;
    margin: 10px;
}


form{
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px 30px;
    border-radius: 5%;
	height: 500px;
	text-align: center;
}

input{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}