body{
	background-color: #BDECB6;
	margin: 10px;
	position: static;
  }

  .container{
	border: 5px solid black;
	background-color: #FFFFFF;
	border-radius: 15px;
  }

h1{
    font-weight: bold;
    margin: 0;
	text-align: center;
}

h2{
    font-weight: bold;
    margin: 0;
	text-align: center;
	font-size: 50px;
	margin-top: 5%;
}


p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px; 
    letter-spacing: 0.5px;
    margin: 20px 0;
}

a{
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button{
	border-radius: 10px;
	border: 1px solid #4DD547;
	background-color: #4DD547;
	color: #FFFFFF;
	font-size: 20px;
	padding: 12px 40px;
    margin: 15px;
}

form{
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px 50px;
    border-radius: 5%;
	height: 500px;
	text-align: center;
}

.form-group{
	margin: 35px;
}

input{
    background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.btns{
	display: block;
}