
<main>

    <div class="presentacion">
        <h2>¿Quiénes somos?</h2>
        <p>Somos una empresa dedicada a la renta de canchas de futbol</p>
      
        <div class="presentacion1">
          <h1>Santiago Vides Salcedo</h1>
          <h3>Rol: </h3>
          <p>líder de planeación</p>
          <h3>lenguajes: </h3>
          <ul>
            <li>C++</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>HTML y CSS</li>
          </ul>
        </div>
      
        <div class="presentacion2">
           <h1>David Anteliz</h1>
          <h3>Rol: </h3>
          <p>Desarrollador</p>
          <h3>lenguajes: </h3>
          <ul>
            <li>C++</li>
            <li>Java</li>
          </ul>
        </div>
    </div>
    
    <h1>Formulario de contacto</h1>
    <p>envianos tu comentario y tu correo para estar al corriente con lo que dices</p>

    <form class="formulario" (ngSubmit)="mostrarInfo(comentario)" #comentario="ngForm">
        <div class="email">
                <label for="exampleFormControlInput1" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name="correo" [ngModel]>
            </div>

            <div class="comentario">
                <label for="exampleFormControlTextarea1" class="form-label">comentario</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="comentario"></textarea>
            </div>

            <input type="submit" value="enviar" onclick="guardarInfo()" class="btnEnviar">
    </form>

    

</main>
