.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .about-section h2 {
    margin-top: 50px;
  }
  h2{
    color:transparent
  }
  
  .about-section p {
    margin-top: 30px;
    text-align: center;
  }
  
  .mission-vision-container {
    display: flex;
  }
  
  .mission-container, .vision-container {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border: 1px solid black;
    padding: 20px;
  }
  
  .bio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
  }
  
  .bio-container {
    flex-basis: 33%;
    width: 200px;
    height: 200px;
    margin-right: 20px;
    border: 1px solid black;
    padding: 20px;
  }
  
  .bio-container img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }