<p>editar-cancha works!</p>
<div class="container">
    <h1>Editar Cancha</h1>
    <div class="card">
        <form>
          <div class="EditNombre">
            <label for="nombreCancha">Nombre de la Cancha:</label>
            <input type="text" class="name" id="nombreCancha" placeholder="Ingrese el nombre de la cancha">
          </div>
          <div class="EditEst">
            <label for="establecimientos">Establecimientos:</label>
            <select class="form-control" id="establecimientos">
              <option>Establecimiento 1</option>
              <option>Establecimiento 2</option>
              <option>Establecimiento 3</option>
            </select>
          </div>
          <div class="EditPrecio">
            <label for="precioCancha">precio de la Cancha:</label>
            <input type="number" class="price" id="precioCancha" placeholder="Ingrese el nombre de la cancha">
          </div>
          <button type="submit" class="btnActualizar">Actualizar</button>
        </form>
      </div>
  </div>
