<table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Dirección</th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Establecimiento 1</td>
        <td>3210987657</td>
        <td>Carrera 26 #45a-44</td>
        <td>
          <button routerLink="/establecimientos/editar-establecimiento">Editar</button>
          <button>X</button>
        </td>
      </tr>
      <tr>
        <td>Establecimiento 2</td>
        <td>3012983657</td>
        <td>Avenida 12 #8-32</td>
        <td>
          <button routerLink="/establecimientos/editar-establecimiento">Editar</button>
          <button>X</button>
        </td>
      </tr>
      <!-- más filas aquí -->
    </tbody>
  </table>
  
  <button class="nuevo-establecimiento-btn"  >Nuevo Establecimiento</button>
  