<main>
    <div class="inicio">
      <div class="info-pagina">
        <div class="info">
          <h1 class="Titulo">Canchas</h1>
        </div>
        <div class="svg">
          <img src="{{cancha}}" alt="">
        </div>
      </div>
    </div>
    <div>
      <div class="Seccion-comentarios">
        <h2>Comentarios</h2>
        <form>
          <textarea placeholder="dinos lo que piensas"></textarea>
          <button>Publicar</button>
        </form>
        <div class="comentarios">
          <ul class="comments">
            <!-- <li *ngFor = "let comentario of comentarios">
              {{comentario}} {{comentarios.mbappe}} {{comentarios.cristiano}} {{comentarios.messi}}
            </li> -->

          </ul>
          <!-- Agregar más comentarios aquí -->
        </div>
      </div>
    </div>
  </main>
