<button class="btn btn-success">Nueva Cancha</button>
<main>
  <div class="inicio">
    <div class="info-pagina">
      <div class="info">
        <h1 class="Titulo">Canchas</h1>
      </div>
      <div class="canchas">
        <img src="{{cancha1}}" alt="imagen de la cancha">
        <p>Luz del mar</p>
        <p>Establecimiento : El coliseo</p>
        <button class="btn btn-primary" routerLink="/canchas/editar-cancha">Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </div>

      <div class="canchas">
        <img src="{{cancha2}}" alt="imagen de la cancha">
        <p>El campin</p>
        <p>Establecimiento : manchester</p>
        <button class="btn btn-primary" routerLink="/canchas/editar-cancha">Editar</button>
        <button class="btn btn-danger">Eliminar</button>
      </div>

    </div>
  </div>
  <div>
    <div class="Seccion-comentarios">
      <h2>Comentarios</h2>
      <form>
        <textarea placeholder="dinos lo que piensas"></textarea>
        <button>Publicar</button>
      </form>
      </div>
  </div>
</main>
