<button class="btn btn-success">Nueva Cancha</button>
<main>
  <div class="inicio">
    <div class="info-pagina">
      <div class="info">
        <h1 class="Titulo">Canchas</h1>
      </div>
      <div class="canchas">
        <div *ngFor="let cancha of canchas" class="card__info box__card-primary">
          <img [src]="cancha.imagen" alt="imagen">
          <h1>{{cancha.nombre}}</h1>
          <h2>{{cancha.price}}</h2>
          <p>{{cancha.descripcion}}</p>
        </div>
      </div>

    </div>
  </div>
  <div>
    <div class="Seccion-comentarios">
      <h2>Comentarios</h2>
      <form>
        <textarea placeholder="dinos lo que piensas"></textarea>
        <button>Publicar</button>
      </form>
      </div>
  </div>
</main>
