<div class="reservas-container">
    <div class="reservar-container">
      <h2>Reservar</h2>
      <div>
        <label>Fecha:</label>
        <input type="date">
      </div>
      <div>
        <label>Hora:</label>
        <select>
          <option value="9:00">9:00</option>
          <option value="10:00">10:00</option>
          <option value="11:00">11:00</option>
          <option value="12:00">12:00</option>
        </select>
      </div>
      <button>Reservar</button>
    </div>
    <div class="consultar-container">
      <h2>Consultar</h2>
      <div class="info-reserva">
        <!-- aquí va la información de la reserva seleccionada -->
        <p>Información de la reserva:</p>
        <ul>
          <li>Fecha: 29/06/2002</li>
          <li>Hora: 11:00 am</li>
          <li>Establecimiento: Estadio metropolitano</li>
          <li>Cancha: Cancha 3</li>
          <li>Usuario: Vladimir Putin</li>
        </ul>
      </div>
      <div>
        <label>Hora de Reserva:</label>
        <input type="datetime-local">
      </div>
      <button>Consultar</button>
      <button>Eliminar</button>
    </div>
  </div>
  
