.barra-navegacion {
    background-color: black; /* Fondo blanco */
    display: flex; /* Usamos Flexbox para alinear los elementos */
    justify-content: space-between; /* Separa los elementos equitativamente */
    padding: 10px; /* Agrega un pequeño margen interior */
    flex-direction: row;


  }
  
  .opciones{
    list-style: none;
    text-decoration-style: none;
    display: flex;
    flex-direction: row;
    padding: 0 20px 0 20px;
    color: black;
    font-size: var(--lg);
  }
  


    .logo img{
        width: 60px;
    }


    a:link, a:visited, a:active {
    text-decoration: none;
    }