<nav class="barra-navegacion">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{{img}}" alt="logo-canchas"></a>
        <span class="navbar-toggler-icon"></span>

        <div class="opciones">
          <a class="inicio" href="../inicio/inicio.component.html">inicio</a>
          <a class="canchas" href="../canchas/canchas.component.html">canchas</a>
          <a class="nosotros" href="/">nosotros</a>
          <a class="contactenos" href="../contactenos/contactenos.component.html">contactenos</a>
        </div>
    </div>
  </nav>