.barra-navegacion {
    background-color: #222;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    padding: 0;
  }
  
  .logo-pagina {
    text-align: center;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    float: left;
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 0 10px;
    line-height: 40px;
    text-decoration: none;
    color: #000000;
  }
  
  nav ul li:hover > a {
    background-color: #444;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 200px;
  }
  
  nav ul li:hover > ul {
    display: block;
  }
  
  nav ul li ul li {
    float: none;
  }
  
  nav ul li ul li a {
    background-color: #444;
    border-bottom: 1px solid #fff;
  }
  
  nav ul li ul li a:hover {
    background-color: #666;
  }


  nav {
    position: relative;
    z-index: 1;
  }
  